<!DOCTYPE html>
<html>
<!--Contém metadados (dados sobre os dados) da página HTML-->
<head>
    <meta charset="utf-8" />
    <title>Gestão de Equipamentos</title>
</head>

<!--Contém o conteúdo da página HTML-->
<body>
    <h1>Gestão de Equipamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /

    <hr />

    <h3>Fabricantes</h3>

    <ul>
        <li><a href="/fabricantes/cadastrar">Cadastrar Novo Fabricante</a></li>
        <li><a href="/fabricantes/visualizar">Visualizar Fabricantes</a></li>
    </ul>

    <hr />

    <h3>Equipamentos</h3>

    <ul>
        <li><a href="/equipamentos/cadastrar">Cadastrar Novo Equipamento</a></li>
        <li><a href="/equipamentos/visualizar">Visualizar Equipamentos</a></li>
    </ul>

    <hr />

    <h3>Chamados</h3>

    <ul>
        <li><a href="/chamados/cadastrar">Cadastrar Novo Chamado</a></li>
        <li><a href="/chamados/visualizar">Visualizar Chamados</a></li>
    </ul>
</body>
</html>